.bg-dark-blue{
    background-color: #073B4C;
}
.bg-light-yellow{
    background-color: gold;
}
.bg-text-mycolor{
  --bs-text-opacity: 1;
  --bs-light-rgb: 0,0,255;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

.top-space{
    padding-top: 2% 10%;
}

.navbar-brand{
    font-family: ubuntu;
    font-weight: bold;
    font-size: 2em;
}

span{
    padding-left: 15px;
}
/* @media is used to put screen size condition */
@media(min-width: 768px) {
    .img1{
        
        transform: rotate(30deg);
        margin-bottom: 5%;
        margin-top: 10%;
    }
    .infoBoard{

        font-family: ubuntu;
        font-size:2.3em;
        line-height: 1.5;
        margin: 3%;
    }
}
@media(max-width:767px){
    .img1{
        transform: rotate(0);
        margin: 5%;
    }
    .infoBoard{

        font-family: ubuntu;
        font-size:1.3em;
        line-height: 1.5;
        margin: 3%;
    }
}


.button-links-style{
    margin-left: 10%;
    justify-content: center;
    display: flex;
}
.fa-solid{
    color: orange;
    margin: 10%;
}
.comment{
    padding: 5%;
}
.comment p{
    font-size: 1.5em;
    color: aliceblue;
}
.comment span{
    font-size: 1.5em;
    color: aliceblue;
}
.img2{
    width: 10%;
    
}
.addSize{
    font-size: 2em;
    
}
.pricing{
    margin-top: 20px;
    margin-bottom: 20px;
    border: thick double darkblue;
}
.footer2{
    color: antiquewhite;
    margin-top: 50px;
    padding: 300px;
}

@media(max-width:576px){
    .copyright{
    margin-left: 30%;
    font-size: 20px;
    position: relative;
    }
}
@media(max-width:1199px){
    .copyright{
    margin-left: 40%;
    font-size: 20px;
    position: relative;
    }
}
@media(min-width:1200px){
    .copyright{
    margin-left: 80%;
    font-size: 20px;
    position: relative;
    }
}